<a href="https://colab.research.google.com/github/ShreyaAnand1316/Introduction-to-Python/blob/main/01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
13+15

28

In [2]:
56*45

2520

In [3]:
25-4

21

In [4]:
106/4

26.5

In [5]:
x=10

In [6]:
print(x)

10

In [7]:
y=20

In [8]:
print(x,y)

10 20

In [9]:
print(x+y)

30

In [10]:
print (x-y)

-10

In [11]:
print(x*y)
print(x/y)

200
0.5

In [12]:
x= 'shreya'
print(x)

shreya

In [13]:
x= "shreya"
print(x[0:6])

shreya

In [14]:
x= "shreya"
print(x[0])

s

In [15]:
x= "shreya"
print(x[-6])

s

In [16]:
x= "shreya deep anand"
print(x[0:6])

shreya

In [17]:
x= "shreya deep anand"
print(x[7:11])

deep

In [18]:
x= "shreya deep anand"
print(x[-17:-11])

shreya

In [19]:
x= "shreya deep anand"
print(x[-1:])

d

In [20]:
x="shreya"
y="deep"
print(x+y)

shreyadeep

In [21]:
x="shreya"
y="deep"
print(x+" "+y)

shreya deep

In [22]:
x=10
print(type(x))

<class 'int'>

In [23]:
x=10.5
print(type(x))

<class 'float'>

In [24]:
4
x=input("enter your name:")

enter your name:shreya

In [25]:
print(x)

shreya

In [26]:
x=input("enter your mark:")

enter your mark:87

In [27]:
type(x)

str

In [28]:
x=input("enter your name:")
x=input("enter your mark:")
x=input("enter your age:")

enter your name:keerthi
enter your mark:87
enter your age:45

In [29]:
type(x)

str

In [30]:
x=int(input("enter your age:"))

enter your age:43

In [31]:
print(type(x))

<class 'int'>

In [32]:
x=int(input("enter the first number:"))
y=int(input("enter the second number:"))
print(x+y,x-y,x*y,x/y,x%y)

enter the first number:2
enter the second number:3
5 -1 6 0.6666666666666666 2

In [33]:
i=int(input("enter current (I):"))
r=int(input("enter resistance (R):"))
print('(Ohms law) v=' ,i*r)

enter current (I):4
enter resistance (R):5
(Ohms law) v= 20

In [34]:
x=int(input("Enter mark:"))
if x>=50:
  if x==50:
    print('just pass')
  else:
    print('pass')
else:
  print('fail')

Enter mark:100
pass

In [35]:
x=int(input("Enter mark:"))
if x>0 and x<49:
  print('first')
if x>50 and x<60:
  print('second')
if x>61 and x<80:
  print('third')
if x>50 and x<60:
  print('fourth')
else: 
  print('distinction')

Enter mark:67
third
distinction

In [36]:
x=int(input("enter mark:"))
if x>=80:
  y=int(input("number of supply:"))
  if y==0:
    print("distinction")
  else:
    print('no distinction')
else:
  print('thankyou for the information')

enter mark:89
number of supply:2
no distinction

In [37]:
x=int(input("enter a number:"))
if x%2==0:
  print('even')
else:
  print('odd')

enter a number:56
even

In [38]:
for k in range(10):
  print (k)

0
1
2
3
4
5
6
7
8
9

In [39]:
for k in range(10):
  if k%2==0:
    print(k)

0
2
4
6
8

In [40]:
sum=0
for k in range(10):
    sum=sum+k
print(sum)

45

In [41]:
sum=0
for k in range(101):
  if k%2==0:
    sum=sum+k
print(sum)

2550

In [42]:
#multiply from 1-100
sum=1
for k in range(1,101):

  sum=sum*k

print(sum)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [43]:
#input a number and then choose to end or continue
#if continue then enter a new number and add with the previous number
sum=0 
for k in range(100): #maximum number of inputs is 100
  x=int(input("enter a number:"))
  y=int(input("0 or 1:")) #0 for final or else to continue click 1

  if y==0:
    break;
    print(x)

  if y==1:
    sum=sum+x
    print(sum)

enter a number:78
0 or 1:0

In [44]:
k=0 #print numbers from 1-100 using while loop
while(k<100):
  print(k)
  k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [45]:
sum=0 #add numbers from 1-100
k=0
while k<=100:
  sum=sum+k
  k=k+1
  
print(sum)

5050

In [46]:
sum=0 #add odd numbers from 1-100
k=0
while k<=100:
  if k%2!=0:
    sum=sum+k
  k=k+1
  
print(sum)

2500

In [47]:
for k in range(100):
  if k%2!=0:
    continue;
  print(k)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [48]:
x=[1,2,4,56,55.4,9,2]
print(x[0])
print(x[-1])

1
2

In [49]:
x=[1,2,4,56,55.4,9,2]
print(x[0:4])

[1, 2, 4, 56]

In [50]:
x=[1,2,4,56,55.4,9,2]

print(x[-2:])

[9, 2]

In [51]:
x=[1,2,4,56,55.4,9,2]
x.append("shreya")
print(x)

[1, 2, 4, 56, 55.4, 9, 2, 'shreya']

In [52]:
x=["keerthi","ruby","basith"]
x.insert(1,"abhinav")
print(x)

['keerthi', 'abhinav', 'ruby', 'basith']

In [53]:
x=["keerthi","ruby","basith"]
x.insert(1,"abhinav")
x[2]=("aavani")
x[0]=("basith")
x[-1]=("keerthi")
print(x)

['basith', 'abhinav', 'aavani', 'keerthi']